<link rel="stylesheet" href="/css/blog.css" />
<div class="container">
  <div class="blog-container">
    <h2 class="text-center my-5">{{blog.title}}</h2>
    <div class="card mb-5 mx-5">
      <div class="content">
        <p>{{blog.content}}</p>
      </div>
      <div class="blog-info">
        <p class="user">{{blog.user.username}}</p>
        <p class="date">{{format_date blog.date_created}}</p>
      </div>
    </div>
  </div>
  <h2 class="text-center mb-5">Comments</h2>
  <div class="all-comments card">
    {{#each blog.comments as |comment|}}
      <div class="comments">
        <div class="comment">
          <p>{{comment.comment}}</p>
        </div>
        <div class="comment-info">
          <p>{{comment.user.username}}</p>
          <p>{{format_date comment.date_created}}</p>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="comment-text new-comment-unactive mt-5">
    <form class="comment-form" id="new-comment-form">
      <label for="newComment" class="form-label">New Comment:</label>
      <input
        type="text"
        name="newComment"
        id="newComment"
        placeholder="Write a comment for {{blog.user.username}} blog"
      />
      <div class="new-comment-btn">
        <button
          type="submit"
          class="btn btn-primary mt-3"
          
        >Post Comment</button>
      </div>
    </form>
  </div>

  <div class="add-comment-btn mt-5">
    <button type="button" class="btn btn-primary" id="comment-btn">Add Comment</button>
  </div>
</div>

<script src="/js/comment.js"></script>