<link rel="stylesheet" href="/css/home.css" />
<h2 class="mx-5 mb-4">Most Recent</h2>
{{#each blogs as |blog|}}
  <div class="card mb-4 mx-5">
    <div class="card-header">
      <div class="header-user">
        {{blog.user.username}}
      </div>
      <div class="header-date">
        {{blog.date_created}}
      </div>
    </div>
    <div class="card-body">
      <a href="/blog/{{blog.id}}">
        <h5 class="card-title">{{blog.title}}</h5>
        <p class="card-text">{{blog.content}}</p>
      </a>
    </div>
  </div>
{{/each}}
